.header{
    background-color: #242f42;
}
.login-wrap{
    background: #d389c0;
}
.plugins-tips{
    background: #abd285;
}
.plugins-tips a{
    color: #7b568a;
}

.tags-li.active {
    border: 1px solid #7b568a;
    background-color: #7b568a;
}
.message-title{
    color: #7b568a;
}
.collapse-btn:hover{
    background: rgb(40,52,70);
}